body {
  background-color: #fff;
  justify-content: center;
  padding: 5px 5px;
  background-image: url(alfons-morales-YLSwjSy7stw-unsplash.jpg);
  background-size: contain;
}

h1 {
  text-align: center;
  color: black;
  width: 20%;
  margin: auto;
  background-color: blanchedalmond;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

#AddNewbook_container h1 {
  margin-top: 100px;
  width: 50%;
}

#list_container {
  background-color: blanchedalmond;
  font-weight: bold;
  text-align: center;
  display: block;
  height: 250px;
  margin: 100px auto;
  border: 1px solid #ccc;
  padding: 50px 20px;
  width: 50%;
  overflow-y: scroll;
}

.rmv-btn {
  width: 65px;
  height: 30px;
  background-color: #fff;
  box-shadow: 5px 5px 2px black;
}

input {
  width: 450px;
  height: 25px;
  text-align: center;
  box-shadow: 7px 5px 2px black;
  display: flex;
  border: 1px solid black;
  padding: 3px 3px;
  margin: 25px 5px;
}

.input {
  margin: 15px auto;
  display: block;
}

#addnewbook_legend {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

#AddNewbook_container {
  margin: 10px auto;
  width: 600px;
  text-align: center;
  border-top: 2px solid black;
}

.btn {
  width: 60px;
  height: 30px;
  background-color: #fff;
  box-shadow: 5px 5px 2px black;
}

.fs-1 {
  font-size: 40px;
}

.fs-2 {
  font-size: 35px;
}

.fs-3 {
  font-size: 30px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

.top-nav div {
  padding: 2px 2px;
  font-size: 10px;
}

.left-nav a {
  background-color: blanchedalmond;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.right-nav a {
  background-color: blanchedalmond;
  margin-left: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.top-nav div a:hover {
  color: red;
}

#ContactUs {
  color: #fff;
  text-align: center;
  margin: 20px 0;
  padding: 100px 0;
}

#AwesomeBooks {
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
